<button class="btn btn-custom">Ack</button>
<button class="btn btn-custom ml-2">Close</button>
<button class="btn btn-custom ml-2 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false">
	<i class="mdi mdi-dots-horizontal"></i>
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<a class="dropdown-item" href="#">Action</a>
	<a class="dropdown-item" href="#">Another action</a>
	<a class="dropdown-item" href="#">Something else here</a>
</div>