<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="outer">
        <div class="middle">
          <div class="inner">
            <h1 class="heading">This page is lost.</h1>
            <p class="content">The page you're looking for isn't available.</p>
            <p class="content">Please return to Home page.</p>
            <button class="backbtn" routerLink="/">
              <span>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#b4b6e3" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg>
              </span>
              Go Back
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col fnf-image"> </div>
  </div>
</div>
