.navbar-color {
  background: #272c2e;
  border: #272c2e;
  width: 225px;
}

.navmenu-inverse .navmenu-nav > .active > a, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a, .navmenu-inverse .navmenu-nav > .active > a:hover, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:hover, .navmenu-inverse .navmenu-nav > .active > a:focus, .navbar-inverse .navbar-offcanvas .navmenu-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1c2020;
}

.custom-control-label {
  color: #999999;
  padding-left: 5px;
}

.navmenu-brand {
  height: 45px;
}

.custom-height {
  height: calc(70% - 45px);
}

.custom-height2 {
  height: calc(30% - 45px);
}

.user-name {
  font-weight: 600;
  color: #999999;
}