.btn-custom {
	padding: 1px 5px;
    color: #fff;
	font-size: 13px;
	// font-weight: bold;
	outline: none;
	box-shadow: none;
    background: #464646;
}

.icons {
	font-size: 20px;
	vertical-align: middle;
	cursor: pointer;
}